﻿@model WebApplication1.Models.AuthModel

<h2>LogIn</h2>
 @using (Ajax.BeginForm("Authorization", new AjaxOptions { OnSuccess="OnSeccess" }))
    {
        <div>
            @Html.Label("LogIn")
            <div id="result"></div>
            <div>
                @Html.EditorFor(m => m.Login)
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <input type="submit" value="LogIn" /><br />
        </div>
    }